<ion-view view-title="Add New">
  <ion-content>
    <div class="list">
    	<label for="" class="item item-input"><input type="text" placeholder="List Name" ng-model="note.listName"></label>
    	<label for="" class="item item-input"><input type="text" placeholder="Short Description" ng-model="note.shortDescription"></label>
    	<button class="button button-positive icon-right ion-chevron-right button-block" ng-click="createNewNote();">
    		Create
    	</button>
    </div>
  </ion-content>
</ion-view>
