<ion-view view-title="List of projects">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="note in notes" ng-click="shareNote(note)" href="#/app/list/{{note.id}}">
        {{note.listName}}
        <span class="badge badge-assertive">{{note.numberOfProducts}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
