<ion-view view-title="{{note.listName}}">
  <ion-content>
    <div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	    <input ion-autocomplete type="text" readonly="readonly" ng-model="search" class="ion-autocomplete" autocomplete="off" max-selected-items="1" items-method="callbackMethod(query)" />
	  </label>
	  <div>
	</div>
	  <button class="button button-clear">
	    Cancel
	  </button>
	</div>
	<ion-list>
      <ion-item ng-repeat="pr in products" href="#/app/list/{{note.id}}">
		<a ng-click="openProductPage({{pr}})" class="item item-thumbnail-left" href="#">
	      <img src="{{pr.resizedPath}}">
	      <h2>{{pr.articul}}</h2>
	      <h3>{{pr.secondArticul}}</h3>
	      <p>{{pr.tempColors}}</p>
	    </a>
      </ion-item>
    </ion-list>
  </ion-content>
  	<ion-footer-bar>
		<div class="button-bar">
			<button ng-click="openScanner()" class="button button-icon icon ion-qr-scanner"><icon></button>
		</div>
	</ion-footer-bar>
</ion-view>
<script id="productPage.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{pr.articul}} [{{pr.secondArticul}}]</h1>
    </ion-header-bar>
    <ion-content>
      <img src="{{pr.resizedPath}}"/>
      <ion-list ng-repeat="c in colorsMap">
      	<ion-checkbox ng-model="c.selected" ng-click="saveSelections()">{{c.color}}</ion-checkbox>
      </ion-list>
    </ion-content>
    <ion-footer-bar>
    	<button ng-click="hideProductPage()">Close</button>
    </ion-footer-bar>
  </ion-modal-view>
</script>
