<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Settings</h1>
  </ion-header-bar>
  <ion-content>
   <label class="item item-input">
      <span class="input-label">URI</span>
      <input type="text" ng-model="settings.uri">
    </label>
    <button class="button button-block button-positive" ng-click="doSave();">Save</button>
  </ion-content>
</ion-modal-view>
