<ion-modal-view>
    <ion-header-bar>
    	<h1 class="title">Add New Note</h1>
    	<button class="button button-clear" ng-click="addNoteModal.hide()"><i class="icon ion-close-round"></i></button>
    </ion-header-bar>
    <ion-content>
	    <div class="list">
	  		<label class="item item-input"><input type="text" ng-model="note.listName" placeholder="Name"></label>
	  		<label class="item item-input"><input type="text" ng-model="note.shortDescription" placeholder="Description"></label></div>
	  		<button class="button button-calm button-full" ng-click="createNote()">Create</button>
	  	</div>
  	</ion-content>
</ion-modal-view>
