<ion-modal-view>
	<ion-header-bar>
	  <h1 class="title">Login Page</h1>
	</ion-header-bar>
	<ion-content>
	  <div class="list">
		  <label class="item item-input">
		    <span class="input-label">Email</span>
		    <input type="text" ng-model="session.user.email"/>
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Password</span>
		    <input type="password" ng-model="session.user.password">
		  </label>
		  <div class="row"><button class="button button-positive button-full" ng-click="session.login()">Sign In</button></div>
		</div>
	</ion-content>
</ion-modal-view>