<ion-view view-title="List of projects">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="note in notes" ng-click="shareNote(note)" href="#/app/list/{{note.id}}">
        {{note.listName}}
        <span class="badge badge-balanced">{{note.numberOfProducts}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
	<ion-footer-bar>
		<div class="button-bar">
			<button on-touch="addNote()" class="button button-icon"><i class="icon ion-ios-plus-outline"></i></button>
		</div>
	</ion-footer-bar>
</ion-view>
