<ion-view view-title="Products">
  <ion-content>
  	<div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	    <input type="search" placeholder="Search" ng-model="search.text" ng-change="getProducts(true)">
	  </label>
	  <button class="button button-clear">
	    Cancel
	  </button>
	</div>
	<ion-list>
      <ion-item collection-repeat="pr in products">
		<a ng-click="openProductPage(pr.id)" class="item item-thumbnail-left" href="#">
	      <img ng-src="{{basePath}}{{pr.resizedPath}}">
	      <h2>{{pr.articul}}</h2>
	      <h3>{{pr.secondArticul}}</h3>
	      <p>{{pr.tempColors}}</p>
	    </a>
      </ion-item>
    </ion-list>
	<ion-infinite-scroll icon="ion-loading-c" distance="10%" immediate-check="moreDataCanBeLoaded()" on-infinite="getProducts()">
	</ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar>
	<div class="button-bar">
		<button on-touch="openScanner();" class="button button-icon"><i class="icon ion-qr-scanner"></i></button>
	</div>
	</ion-footer-bar>
</ion-view>