<ion-view view-title="Settings">
 	<ion-content>
  		<div class="row">
			<div class="col"><label class="item item-input item-stacked-label">
			<span class="input-label">Server URI</span>
			<input type="text" ng-model="server.serverUri" ng-change="update(server.serverUri);"/>
			</label></div>
		</div>
	</ion-content>
</ion-view>
