<ion-modal-view>
    <ion-header-bar>
    	<h1 class="title">{{pr.articul}}</h1>
    	<button class="button button-clear" ng-click="previewProduct.hide()"><i class="icon ion-close-round"></i></button>
    </ion-header-bar>
  <ion-content>
	<div class="list card">
		<div class="item item-avatar">
			<img ng-src="{{basePath}}{{pr.resizedPath}}" on-tap="showBig = true">
			<p>{{pr.secondArticul}}</p>
		</div>
		<div class="item item-body">
			<p ng-if="pr.secondArticul"><b>{{pr.secondArticul}}</b></p>
			<p>
			  <b>Price</b>
			  <span>{{pr.price}} {{pr.currency}}</span>
			</p>
			<p>
			  <b>Material</b>
			  <span>{{pr.material}}</span>
			</p>
			<p><b>Dimension</b> <span>{{pr.length}}x{{pr.width}}x{{pr.height}} {{pr.scaleUnit}}</span></p>
			<p><b>Product type</b> <span>{{pr.productType}}</span></p>
			<p ng-if="!showColorSelect"><b>Colors</b> <span>{{pr.colors}}</span></p>
			<p ng-if="showColorSelect"><b>Selected Colors:</b> 
				<ion-list>
					<ion-checkbox ng-change="updateColorsInNote()" ng-model="color.val" ng-repeat="color in colorsMap">{{color.name}}</ion-checkbox>
				</ion-list>
			</p>
			<p ng-if="pr.grossWeights && pr.grossWeights.length > 0">
				<b>Gross Weight</b>:
				<p ng-repeat="gw in pr.grossWeights">
					{{gw.plafNumber}} pl. {{gw.grossWeight}} kg
				</p>
			</p>
			<p ng-if="pr.netWeights && pr.netWeights.length > 0">
				<b>Net Weight</b>:
				<p ng-repeat="nw in pr.netWeights">
					{{nw.plafNumber}} pl. {{nw.netWeight}} kg
				</p>
			</p>
		</div>
		<div id="bigImageContainer" ng-show="showBig" ng-click="showBig = false">
			<img ng-src="{{basePath}}{{pr.resizedPath.replace('resized','big')}}">
		</div>
	</div>    
  </ion-content>
</ion-modal-view>