<ion-view view-title="{{note.listName}}">
  <ion-content>
    <div class="bar bar-header item-input-inset">
	  <ion-toggle ng-model="shouldShowDelete" style="width:100%;">
		  Show Delete Button?
		</ion-toggle>
	</div>
	<ion-list show-delete="shouldShowDelete">
      <ion-item collection-repeat="pr in note.products" href="#/app/list/{{note.id}}">
		<ion-delete-button class="ion-minus-circled" ng-click="deleteProductFromNote(note.id, pr.id)"></ion-delete-button>
		<a ng-click="openProductPage(pr)" class="item item-thumbnail-left" href="#">
	      <img ng-src="{{basePath}}{{pr.resizedPath}}">
	      <h2>{{pr.articul}}</h2>
	      <h3>{{pr.secondArticul}}</h3>
	      <p>{{pr.tempColors}}</p>
	    </a>
      </ion-item>
    </ion-list>
  </ion-content>
  	<ion-footer-bar>
		<div class="button-bar">
			<button on-touch="uploadNote(note);" class="button button-icon"><i class="icon ion-upload"></i></button>
			<button on-touch="openScanner();" class="button button-icon"><i class="icon ion-qr-scanner"></i></button>
		</div>
	</ion-footer-bar>
</ion-view>